# Converts the host private key (which corresponds to one of the public keys in 
# `./.sops.yaml`) to an age key, so secrets can be decrypted.
# This will execute at run time on NixPi (I think)
export SOPS_AGE_KEY=$(ssh-to-age -i /etc/ssh/ssh_host_ed25519_key -private-key)